**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.idea/
**/*.csproj.user
**/*.DotSettings.user
**/__pycache__
**/common.egg-info
*.zip
docs/analytics-pipeline/venv-*
services/terraform/.terraform/
services/terraform/terraform.tfstate*
services/terraform/terraform.tfvars
.DS_Store
.python-version
