**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.idea/
**/*.csproj.user
**/*.DotSettings.user
**/__pycache__
**/common.egg-info
services/python/analytics-pipeline/cloud-function-*.zip
services/terraform/.terraform/
services/terraform/terraform.tfstate*
services/terraform/terraform.tfvars
services/terraform/remote.tf
.DS_Store
.python-version
*.pyc
